/* .wrapper {
  display: flex;
  justify-content: center;
  margin: 10px auto;
  height: 30px;
} */

.wrapper {
  display: flex;
  justify-content: center;
  height: 33px;
  width: 100px;
}

.wrapperLoading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
