body {
  font-family: var(--font-roboto), sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: aqua;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
