.mainContent {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px;
}

.profileCard {
  max-width: 500px;
  width: 100%;
  background-color: orange;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  padding: 24px;
  text-align: left;
  height: fit-content;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.profileCard:hover {
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);
}

.formTitle {
  font-size: 32px;
  font-weight: 700;
  color: #1a1a1a;
  text-align: left;
  padding: 25px;
  margin: 0 auto;
  width: fit-content;
}

.avatar {
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: 0 auto 24px auto;
}

.profileInfo {
  font-size: 18px;
  color: #333;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
}

.usernameWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.usernameWrapper label {
  font-weight: 600;
  margin-bottom: 8px;
  color: #222;
}

.input {
  padding: 10px 12px;
  font-size: 16px;
  border: 1.5px solid #ccc;
  border-radius: 8px;
  outline-offset: 2px;
  transition: border-color 0.2s ease;
}

.userEmailInput {
  background-color: white;
  color: black;
  padding: 7px;
  font-size: large;
  border-radius: 10px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.userEmailInput:hover {
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);
}

.input:focus {
  border-color: #0d6efd;
  outline: none;
}

.profileInfo p {
  margin: 0;
  font-weight: 500;
}

.saveButton {
  padding: 8px 16px;
  font-size: 16px;
  background-color: transparent;
  color: #6c757d;
  border: 2px solid #6c757d;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.saveButton:hover {
  background-color: #6c757d;;
  color: white;
}

.cancelButton {
  padding: 8px 16px;
  font-size: 16px;
  background-color: transparent;
  color: #6c757d;
  border: 2px solid #6c757d;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.cancelButton:hover {
  background-color: #6c757d;
  color: white;
}
.actions {
  display: flex;
  gap: 12px;
  margin-top: 20px;
}
