.menuList {
  list-style-type: none;
  margin: 0;
  padding: 0;

}

.menuItem {
  margin-bottom: 16px;
  transition: box-shadow 1s ease, transform 0.3s ease;
}

.menuItem:hover {
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
  transform: scale(1.2);
  background-color: orange;
  border-radius: 15px;
}


.menuLink {
  text-decoration: none;
  color: white;
  font-size: 16px;
  display: block;
  padding: 8px 16px;
  transition: background-color 0.2s ease, color 0.2s ease;

}

.menuLink:hover {
  color: black;
}